<div class="jumbotron">
    <h4>A continuacion ingreso el texto para generar su QR</h4>
    <form action="api/Code/GetQR" method="get">
        <br />
        <textarea rows="5" cols="80" name="text" id="text" placeholder="Tu texto aquí"></textarea> 
        <br />
        <button class="btn btn-primary" type="submit">
            Generar código
        </button>
    </form>
</div>
<div class="row">
    <div class="col-md-3 form-horizontal">
    </div>
</div>
